

@font-face {
    font-family: "arial";
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, sans-serif;
    width: 100%;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
    --green: #cafcd5; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;

}
main{
    /*margin: 0 auto;*/
    margin-left: 3em;
    margin-right: 3em;

}
.intro-section{
    /*margin: 0 auto;*/
    width: 36em;
}

.grid-blogs {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(36em, 1fr));
        align-items: start;
        justify-content: space-around;
        row-gap: 2em;
        column-gap: 2em;
        padding-top: 2em;

}
.menu-ul{
    background-color: var(--green);
    padding: 1em;
    margin: 0 2em 1em 2em ;

}
.image-size{

    width: 100%;  /* Make image fit the width of the div */
    height: auto;  /* Maintain image aspect ratio */
    object-fit: cover;
}
.intro-section{
    background-color: var(--green);
    padding: 1em;
    line-height: 1.5em;
    /*margin-bottom: 1em;*/
    height: max-content;
}
.sprint7-section,.sprint8-section,.sprint9-section,.sprint10-section,.sprint11-section{
    background-color: var(--green);
    padding: 1em;
    line-height: 1.5em;
    margin-bottom: 1em;


}
.grid-ol-linkjes-images {
    display: grid;
    /*grid-template-columns: 30em; !* Adjust width as needed *!*/
    row-gap: 0.4em;
}


.overzicht{
    background-color: var(--green);
    padding: 1em;
    line-height: 1.5em;
    width: 36em;
    margin-top: 2em;
    /*height: 67em;*/
}


@media screen and (min-width:530px) {

    .intro-section{
        /*margin: 0 auto;*/
    }
    .image-href{
        display: grid;
        grid-template-columns: auto;
        margin-bottom: 2em;
    }
    .image-size{
        width: 493px;
    }

}


@media screen and (min-width:630px) {

    .intro-section{
        /*padding: 1em 1em 0em 1em;*/
        margin-bottom: 1em;
    }
   .sprint8-section,.sprint9-section,.sprint10-section,.sprint11-section{
        /*padding: 0em 1em 0.5em 1em;*/
        margin-top: 1em;
        /*width: 36em;*/
        height: 116em;

    }

}
