

@font-face {
    font-family: "arial";
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
    --green: #cafcd5; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;
    --blue: #0E12E5

}
main{
    margin-left: 3em;
}
a{
    text-decoration: none;
    color: var(--blue);
}
.index-intro{
    background-color: var(--green);
    padding: 1em;
    line-height: 1.5em;
}
.griditem{
    background-color: var(--green);
    padding: 1em;
    line-height: 1.5em;
    height: 67em;

}
.overzicht{
    background-color: var(--green);
    padding: 1em;
    line-height: 1.5em;
    width: 36em;
    margin-top: 2em;
    /*height: 67em;*/
}


.image-size{
    width: 278px;
}
.sprint8-justus,.sprint7-simon{
    background-color: #cafcd5;
    padding: 1em;
}


@media screen and (min-width:630px) {

    .gridcontainer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(36em, 1fr));
        align-items: start;
        justify-content: space-around;
        row-gap: 2em;
        column-gap: 2em;
        padding-top: 2em;
    }



    .sprint7-simon,.sprint8-justus,.index-intro{
        /*padding: 0em 1em 0.5em 1em;*/
        /*margin-top: 1em;*/
        width: 36em;
    }

}

